* {
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

body {
    background-color: rgb(231, 228, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    font-family: sans-serif;
}
.container {
    position: relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;


}

.container .leftSide {
    position: relative;
    background-color:rgba(228,181,180,255);
    padding:40px;
}

.profile {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profile img{
    width:120px;
    height:120px;
    border-radius: 50%;
}

.profile h2{
    color: rgb(87, 78, 78);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform:uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.contactInfo .title {
    color:rgb(88, 38, 38);
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;

}

.contactInfo ul li .material-icons {
     display: inline-block;
     width: 30px;
     font-size: 18px;
     color: rgb(23, 3, 6);
}

.contactInfo ul li .text {
    color:rgb(76, 74, 74);
}

.contactInfo ul li a {
    text-decoration: none;
    cursor: pointer;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color:pink;
}

.contactInfo.education h4 {
    color:rgb(76, 74, 74);
}

.contactInfo.language .percent {
    position: relative;
    width:100%;
    height: 6px;
    background-color: rgb(216, 206, 206);
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color:rgb(202, 108, 124);
}


.container .rightSide {
    position: relative;
    background-color: rgb(232, 241, 241);
    padding:40px;
}

.about {
    margin-bottom: 15px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color:rgb(27, 29, 48);
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif
}

p {
    color:rgb(18, 17, 17);
}

.about .box {
    display: flex;
    margin: 20px 0;
}

.about .box .year-company {
    min-width: 150px;
}

.about .box .year-company h5 {
    color:rgb(102, 52, 62);;
}

.about .box .text h4 {
    color:rgb(102, 52, 62);
    font-size: 18px;
}

.skills .box {
    position:relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    color:rgb(19, 16, 13);
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: rgb(238, 194, 219);
}

.skills .box .percent div {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: rgb(228, 99, 177);
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li {
    list-style: none;
    color:#333;
    margin: 10px 0;

}

.interest ul li .material-icons {
    color:rgb(241,126,126);
    font-size: 20px;
}


@media (max-width:1000px) {
.container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
}
.interest ul {
    grid-template-columns: repeat(2,1fr);
}

}

@media (max-width:600px) {
  .about .box {
      flex-direction:column;

  }
  .about .box .year-company{
      margin-bottom: 5px;
  }
.skills .box {
    grid-template-columns: repeat(1,1fr);
}
.interest ul {
    grid-template-columns: repeat(1,1fr);
}
} 